.idea/
./*/
!bin/
!music/
!torrents/
!video/

torrents/config/keys/
torrents/config/log/
torrents/config/nginx/site-confs/
torrents/config/rtorrent/rtorrent_sess/
torrents/config/rutorrent/profiles/
!torrents/config/rutorrent/profiles/settings/uisettings.json
torrents/config/rutorrent/settings/users/
torrents/config/www/
torrents/data/
