# We use a whitelist here because the NAS contains many files we are not
# interested in and keeping track of all possible files is an impossible task.
/*
!/bin/
!/tasks/
!/.editorconfig
!/.gitignore
!/Makefile
!/README.md
!/UNLICENSE.md

!/torrents/
/torrents/*
!/torrents/config/
/torrents/config/*
!/torrents/config/.upgraded-v2
!/torrents/config/entrypoint.sh
!/torrents/config/move-to-unsorted.sh

!/torrents/config/nginx/
/torrents/config/nginx/*
!/torrents/config/nginx/includes/
!/torrents/config/nginx/main.nginx
!/torrents/config/nginx/nginx.conf

!/torrents/config/php/
/torrents/config/php/*
!/torrents/config/php/php-local.ini
!/torrents/config/php/www2.conf

!/torrents/config/rtorrent/
/torrents/config/rtorrent/*
!/torrents/config/rtorrent/rtorrent.rc

!/torrents/config/rutorrent/
/torrents/config/rutorrent/*
!/torrents/config/rutorrent/profiles/
/torrents/config/rutorrent/profiles/*
!/torrents/config/rutorrent/profiles/settings/
/torrents/config/rutorrent/profiles/settings/*
!/torrents/config/rutorrent/profiles/settings/uisettings.json
!/torrents/config/rutorrent/settings/
