daemon                              off;
pcre_jit                            on;
pid                                 /run/nginx.pid;
timer_resolution                    1s;
user                                abc;
worker_processes                    auto;
worker_priority                     15;
worker_rlimit_core                  0;
worker_rlimit_nofile                262144;

events {
    accept_mutex                    off;
    accept_mutex_delay              50ms;
    multi_accept                    on;
    worker_connections              131072;
}

http {
    access_log                      /config/log/nginx/access.log;
    charset                         utf-8;
    client_body_timeout             3s;
    client_header_timeout           3s;
    client_max_body_size            16m;
    default_type                    application/octet-stream;
    directio                        1m;
    error_log                       /config/log/nginx/error.log;
    ignore_invalid_headers          on;
    include                         includes/gzip.nginx;
    include                         includes/headers.nginx;
    include                         includes/mime-types.nginx;
    index                           index.php index.html;
    keepalive_disable               none;
    keepalive_requests              50;
    keepalive_timeout               120s;
    max_ranges                      0;
    msie_padding                    off;
    output_buffers                  1 512k; # Should match read_ahead.
    postpone_output                 1460;
    read_ahead                      512k; # Should match output_buffers.
    recursive_error_pages           on;
    reset_timedout_connection       on;
    send_timeout                    9s;
    server_name_in_redirect         off;
    server_names_hash_bucket_size   64;
    server_tokens                   off;
    types_hash_max_size             2048;
    uninitialized_variable_warn     off;

    upstream php_fpm {
        keepalive 3;
        server 127.0.0.1:9000;
    }

    upstream rtorrent {
        server unix:/run/php/.rtorrent.sock;
    }

    server {
        listen [::]:80 backlog=65536 default_server deferred ipv6only=off reuseport rcvbuf=16k sndbuf=512k;
        server_name _;
        root /app/rutorrent;


        location / {
            include includes/static-files.nginx;

            location ~* '^.+\.php$' {
                include includes/php-fpm.nginx;
                try_files $uri =404;
            }
        }

        location /RPC2 {
            include /etc/nginx/scgi_params;
            scgi_pass rtorrent;
        }
    }
}
